@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");

$font-family-sans-serif: "Rubik", sans-serif;

$theme-colors: (
  primary: hsl(4, 100%, 67%),
  darkSlateGrey: hsl(234, 29%, 20%),
  lightGrey: hsl(235, 18%, 26%),
  grey: hsl(231, 7%, 60%),
  white: hsl(0, 0%, 100%),
);

@import "../node_modules/fontawesome-free/css/all.min.css";

#row {
  // display: flex;
  height: 500px;
  padding: 20px;
  width: 800px;
  // position: relative;
}

#card {
  margin: 20px;
}

#left_card {
  width: 200px;
}

#card-photo {
  height: 450px;
  width: 350px;
}

.checked {
  font-size: 14px;
  display: inline-block;
  padding-left: 7px;
}

.email {
  // font-size:smaller;
  font-size: x-small;
}

.text {
  font-size: 15px;
}

.heading {
  font-size: 40px;
}

#confirmBtn:hover {
  background-image: linear-gradient(
    60deg,
    hsl(4, 100%, 74%),
    hsl(4, 99%, 65%),
    hsl(341, 100%, 50%),
    hsl(4, 100%, 50%),
    hsl(307, 100%, 78%)
  );
    box-shadow: 0 0 15px gray;
    border: none;
}



@import "../node_modules/bootstrap/scss/bootstrap.scss";
